<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 well">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

            {# Les erreurs du formulaire #}
            {{ form_errors(form) }}

            <div>
                {# Génération du label UserName #}
                {{ form_label(form.userName, "Identifiant", {'label_attr': {'class': 'control-label'}}) }}

                {# Affichage des erreurs #}
                {{ form_errors(form.userName) }}

                {# Génération de l'input #}
                {{ form_widget(form.userName, {'attr': {'class': 'form-control'}}) }}
            </div>
            
            <div style="margin-bottom: 30px">
                {# Génération du label UserName #}
                {{ form_label(form.password, "Mot de passe", {'label_attr': {'class': 'control-label'}}) }}

                {# Affichage des erreurs #}
                {{ form_errors(form.password) }}

                {# Génération de l'input #}
                {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
            </div>

            {# Génération du label + error + widget pour un champ #}
            {{ form_widget(form.signIn, {'attr': {'class': 'col-sm-2 btn btn-primary'}}) }}

            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
        <div class="col-sm-3"></div>
        </div>
</div>